.form .row{
  margin-bottom: 24px;
}
.search-8>div{
  padding: 8px
}
.padding-08>div{
     padding-right:8px
}
input,textarea{
  background: #fff none;
  outline: none;
  -webkit-appearance:none; /*去除input默认样式*/
}

.form input[type=checkbox]{
    -webkit-appearance:checkbox
}

.form input[type=radio]{
-webkit-appearance:radio
}
.form textarea{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    cursor: text;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: #fff;
    background-image: none;
    width: 100%;
    min-height: 100px;
    padding: 4px 7px;
    box-sizing: border-box;
}

.input{
  padding: 4px 7px;
  width: 100%;
  height: 28px;
  cursor: text;
  font-size: 14px;
  line-height: 1;
  color: #666;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:hover{
      border-color: #57c5f7;
    }
  &:focus{
    box-shadow: 0 0 0 2px rgba(45,183,245,.2);
    border-color: #57c5f7;
  }

}

.require:before{
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  font-size: 12px;
  color: #f60;
}

.label{
  text-align: right;
  height: 28px;
  line-height: 28px;
  float: left;
  box-sizing: border-box;
  padding-right: 8px
}

@media only screen and (max-width: 640px) {
  .label{
    text-align: left;
  }
}

.form .text{
  height: 28px;
  line-height: 28px;
  padding-right: 8px;
}

.form .input{
  width: 100%;
}

.split{
  margin-right: 8px;
  line-height: 28px;
  height:28px;
  float: left;
}

.select{
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: #fff;
  margin: 0;
  outline: 0;
  height: 28px;
  line-height: 28px;
  width: 100%;
}
.radio,.checkbox{
    font-size: 14px;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    margin-right: 8px;

    span{
        margin: 0 8px;
        display: inline-block;
    }
    input{
        width: 14px;
        height: 14px
    }
}

.drop{
  position: absolute;
  top: 0px;
  left: 0;
  .drop-ul{
    outline: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    li{
      padding: 7px 15px;
      transition: background .3s ease;
      &:hover{
        background-color: #eaf8fe;
      }
    }
  }
}

//输入框tags
.tags-wrap{
  width: 100%;
  height: 100%;
  outline: none;
  &::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    }
}

.tags, .tags-input{
  position: relative;
  float: left;
  color: #fff;
  line-height: 28px;
  margin: 0 4px 4px 0;
  padding: 0 22px 0 10px;
  border-radius: 6px;
  .content{
    line-height: 28px;
  }
  .del{
    width: 22px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -1px;
    right: 0;
  }
}

.tags-input{
  font-size: 14px;
  padding: 0;
  background-color: inherit;
  border: none;
  color: inherit;
  width: 10em;
}
.tags-enter, .tags-leave{
  transform: scale(0.9);
  opacity: 0;
}
.tags-transition{
  transition: all .3s ease;
}
